asgiref
boto3
botocore
certifi
chardet
django
django-admin-thumbnails
django-session-timeout
django-storages
idna
jmespath
pillow
psycopg2-binary
python-dateutil
python-decouple
pytz
requests
s3transfer
six
sqlparse
urllib3
